body {
    background-image: url(../imagens/bg\ pattern.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

header {
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
    width: 98.5%;
    margin: 0 0.5%;
    padding: 15px 5px;
    background-image: url(../imagens/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    height: 90px;
    margin-bottom: 8px;
}

.titulo{
    color: whitesmoke;
    font-weight: bold;
    font-size: 40px;
    font-variant: small-caps;
    text-shadow: 3px 3px 2px black;
}

nav {
    width: 98%;
    position: sticky;
    top: 0;
    text-align: center;
    margin-left: 0.9%;
    margin-right: 0.9%;
    background-color: #140f07;
    z-index: 1;
}

.item-menu{
    display: inline-block;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 3px black;
    line-height: 2;
    margin-left: 12%;
    margin-right: 12%;
}

.item-menu a{
    text-decoration: none;
    color: #4f5bb0;
    transition: 0.5s;
}

.item-menu a:hover{
    font-size: 28px;
    transition: 0.6s;
    color: #9593fa;
    text-shadow: 3px 3px 2px #F3D8F6;
}

/* .item-menu a:visited{
    color: #102a30;
} */

main{
    width: 94%;
    margin: 10px 1.2%;
    border: solid 1px black;
    border-radius: 3px;
    background-color: rgba(20, 15, 07, 0.8);
    padding: 10px 25px;
}

section{
    border-radius: 5px;
    background-color: rgba(27, 41, 86, 0.9);
    padding: 10px 15px;
    margin: 15px 21% 15px 0;
}

section p {
    font-size: 18px;
    line-height: 2;
}

.curso-info {
    height: 300px;
}

.curso-img {
    float: left;
    margin-left: 3.5%;
    margin-top: 13px;
    border-radius: 20px;
    height: 190px;
}

.curso-info p {
    margin-left: 37%;
    margin-right: 4%;
    font-size: 18px;
    line-height: 2;
}

.curso-paragrafo {
    margin-top: 40px;
}

.titulo-section {
    text-align: center;
    line-height: 2;
    font-size: 25px;
    font-variant: small-caps;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color: #9593fa;
}

.video {
    width: 80%;
    height: 500px;
    margin: 10px 3% 20px 10%;
}

#section-maps {
    text-align: center;
}

.mapa {
    width: 80%;
    margin-top: 8px;
    margin-bottom: 10px;
}

.sidebar {
    min-height: 450px;
    position: absolute;
    top: 260px;
    left: 79%;
    border-radius: 5px;
    margin-right: 3%;
    padding: 15px 10px;
    background-color: rgba(27, 41, 86, 0.9);
}

.sidebar-titulo {
    text-align: center;
    font-size: 20px;
    color: #9593fa;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-variant: small-caps;
    margin-bottom: 10px;
}

.sidebar-links{
    display: inline-block;
    margin: 5px;
}

.sidebar-banners {
    height: 66px;
    border: solid 1px black;
    border-radius: 6px;
}

.sidebar-info {
    text-align: center;
    line-height: 1.5;
    font-variant: small-caps;
    margin: 15px 5px 0 5px;
}

.sidebar-img {
    width: 90%;
    margin: 2px 6%;
}

.item-conteudo {
    border: solid 4px #F3D8F6;
    border-radius: 7px;
    width: 21%;
    margin: 20px 5%;
    display: inline-block;
    text-align: center;
    padding: 10px 7px;
}

.titulo-conteudo {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color:#F3D8F6;
}

.imagem-conteudo {
    height: 230px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.desc-conteudo {
    font-size: 18px;
    line-height: 1.5;
}

td {
    border: solid 1px white;
    color: black;
    background-color: red;
}

footer {
    background-color: black;
    border-top: solid 5px #140F07;
    padding: 20px 10px;
    text-align: center;
}

.logo-rodape {
    height: 50px;
    margin-bottom: 15px;
}

.texto-rodape {
    font-size: 14px;
    line-height: 1.5;
    color: #9593fa;
}