body {
    background-image: url(./imagens/bg\ pattern.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: rgb(0, 213, 0);
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-image: url(./imagens/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*
    border-style: solid;
    border-width: 10px;
    border-color: white;
    */
    border: solid 5px rgb(0, 130, 35);
    border-radius: 5px;
    width: 98%;
    margin: 2px 1% 5px;
}

.logo {
    height: 80px;
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 0;
}

.titulo {
    text-align: center;
    font-size: 40px;
}

nav {
    background-color: black;
    border: solid 2px green;
}

.menu{
    list-style: none;
}

.menu-item {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 3px 10% 3px 15%;
}

.menu-item a {
    text-decoration: none;
    color: rgb(0, 196, 0);
}

.menu-item a:hover {
    color: rgb(0, 220, 0);
    font-size: 29px;
}